@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900 font-sans;
}
h1,
h2,
h3 {
  @apply font-bold;
}
a {
  @apply text-gray-500;
}
button {
  @apply transition-colors duration-200;
}

@keyframes ping-once {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.animate-ping-once {
  animation: ping-once 0.4s ease-in-out;
}
